<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Semester 1</key>
	<array>
		<dict>
			<key>lecture</key>
			<string>Einführung in die Programmierung</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Analysis1</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Digitale Medien</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<string>6</string>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Grundbegriff der Psychologie Teil 1</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>Semester 2</key>
	<array>
		<dict>
			<key>lecture</key>
			<string>Programmierung und Modellierung</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Rechnerarchitektur</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Algorithmen und Datenstrukturen</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Medientechnik</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Grundbegriff der Psychologie Teil2</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>Semester 3</key>
	<array>
		<dict>
			<key>lecture</key>
			<string>Statistik </string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>lecture</key>
			<string>Betriebsystem</string>
			<key>passed</key>
			<false/>
			<key>grade</key>
			<string>0</string>
			<key>ects</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>Semester 4</key>
	<array/>
	<key>Semester 5</key>
	<array/>
	<key>Semester 6</key>
	<array/>
	<key>Semester 7</key>
	<array/>
	<key>Semester 8</key>
	<array/>
	<key>Semester 9</key>
	<array/>
</dict>
</plist>
